.ba-subscribe-form{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;

  &__input{
    border: 1px solid #262626;
    width: 570px;
    height: 55px;
    margin: 0 30px 20px 0;
    padding-left: 15px;
    font-size: 15px;
    outline: none;
  }
  &__submit{
    background-color: #96b92c;
    width: 170px;
    height: 55px;
    margin: 0 30px 20px 0;

    &:hover{
      background-color: #2eb931;
    }
  }
}