.ba-section--subscribe {
  background: url("../img/subscribe-bg.jpg") 50% no-repeat;
  background-size: cover; }

.ba-subscribe-description {
  max-width: 545px; }
  .ba-subscribe-description__title {
    font-size: 40px; }
